<h1>Article Details</h1>

<%= link_to "New Article", new_article_path %>
<br/>
<%= link_to "All Articles", articles_path %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>